#book-container {

  width: 200px;
  height: 230px;
  margin-top: 50px;
  margin-left: 70px;
  display: inline-block;
  cursor: pointer;

}

.books {
  position: relative;
  width: 1150px;
}

.my-pagination /deep/ .ngx-pagination {

  width: fit-content;
  margin: auto;
}

.my-pagination /deep/ .ngx-pagination a {

  color: white;
}

.my-pagination /deep/ .ngx-pagination a:hover {

  background: #7971EA;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #3A2EEA;
  color: white;
  margin: auto;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
  background: #7971EA;

}

.paginator {
  margin-top: 50px;
}
