<div class="books">
  <div  *ngFor="let book of books | paginate: { itemsPerPage: 8, currentPage: p }"  class="ih-item square effect13 right_to_left" id="book-container">
    <a (click)="openBookingDialog(book)">
    <div class="img"><img src="../../../assets/images/about_1.png" alt="img"></div>
      <div class="info">
        <h3>{{book.title}}</h3>
        <p>{{book.author.authorName}}</p>
        <p>{{book.genre.genreName}}</p>

      </div>
    </a>
  </div>
    <div *ngIf="books?.length > 8" class="paginator">
      <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

