<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" class="form-box" id="form-login">
  <h3 class="h4 text-black mb-4">Sign Up</h3>
  <div *ngIf="error" class="alert alert-danger" id="wrong">
    <div>{{error}}</div>
  </div>
  <div *ngIf="(signUpForm.invalid && (signUpForm.touched || signUpForm.dirty))" class="alert alert-danger" id="wrong">
    <div>
      All fields are required !
    </div>
  </div>
  <div *ngIf="(!email.checkValidity()  && (emailInput.touched || emailInput.dirty))" class="alert alert-danger" id="wrong">
    <div>
      Wrong pattern !
    </div>
  </div>
  <div class="form-group">
    <input ngModel type="text" class="form-control"  name="firstName" placeholder="First Name" required>
  </div>
  <div class="form-group">
    <input ngModel type="text" class="form-control"  name="lastName" placeholder="Last Name" required="">
  </div>
  <div class="form-group">
    <input ngModel type="text" class="form-control"  name="userName" placeholder="Username" required>
  </div>
  <div class="form-group">
    <input ngModel type="email" #email #emailInput=ngModel class="form-control"  name="email" placeholder="Email" required email pattern="{{emailPattern}}">
  </div>
  <div class="form-group">
    <input ngModel type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-pill" value="Sign Up">
  </div>
</form>
